.login-link {
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.login-link:hover {
    text-decoration: none;
    color: #197278
}

.register-link {
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.register-link:hover {
    text-decoration: none;
    color: #197278
}